<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="igsmo" value="https://nuget.pkg.github.com/OWNER/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="igsmo" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>